.login-heading {
  height: 50px;
  width: 100%;
  color: #444444;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
}

.login-extras-container {
  text-align: center;
}

.login-new-action {
  color: #4da951;
  cursor: pointer;
}

.login-submit {
  --background: #4da951
}
