.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.student-details {
  list-style: none;
  padding: 0;
  margin: 0;
}

.student-photo {
  border-radius: 100%;
  width: 100px;
  height: 80px;
}

.student-detail-item {
  margin-bottom: 8px;
}

.student-details-container {
  margin: 0;
  padding: 0;
}

.student-add-icon {
  margin-top: 10px;
}

.header-title {
  font-size: 15px;
  float: right;
  margin-top: 4px;
}

.school-info {
  background: #0421a1;
  font-size: 15px;
}

.school-location-logo {
  margin-left: 10px;
}

.school-phone-logo {
  margin-left: 13px;
}

.school-tabs {
  text-align: center;
  font-size: 13px;
}

.school-tabs-active {
  border-bottom: 3px solid red;
  color: white;
}

.kids-list-edit-logo {
  margin-top: 20px;
}

.kids-list-delete-logo {
  margin-top: 20px;
}

.student-pre-checkin {
  margin-top: 15px;
}

.student-post-checkin {
  margin-top: 15px;
}

.checkin-action {
  display: flex;
  flex-direction: column;
  color: #4da951;
  font-size: 13px;
}

.checkout-action {
  display: flex;
  flex-direction: column;
  color: red;
  font-size: 13px;
}

.no-student-error-message {
  text-align: center;
}